.container { 
    padding: 1rem 3rem 15rem 2rem;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.space-align-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.space-align-block {
    flex: none;
    margin: 3rem 4px;
    padding: 4px;
    border: 1px solid #40a9ff;
}

.menu {
    width: 20rem;
}

.panel {
    text-align: end;
}