.container {
    padding: 1rem 3rem 2rem 2rem;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.space-align-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.space-align-block {
    flex: none;
    margin: 3rem 4px;
    padding: 4px;
    border: none;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.795);
}

.menu {
    width: 20rem;
    border-radius: 1rem;
}

.panel {
    text-align: right;
}