@font-face {
  font-family: 'Vazir-FD';
  src: url('../public/fonts/Vazir-FD.woff');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Vazir-FD';
}

body {
  background-color: rgb(108, 142, 253);  
  direction: rtl; 
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
